webapi/_test_data/test_route/texts/beol/testLetter/p0801-beol.xsd

<xs:schema 
vc:minVersion="1.0" targetNamespace="http://api.knora.org/ontology/0801/beol/xml-import/v1#" elementFormDefault="qualified" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:knoraXmlImport="http://api.knora.org/ontology/knoraXmlImport/v1#" xmlns:p0802-biblio="http://api.knora.org/ontology/0802/biblio/xml-import/v1#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://api.knora.org/ontology/0801/beol/xml-import/v1#">
    <xs:import schemaLocation="p0802-biblio.xsd" namespace="http://api.knora.org/ontology/0802/biblio/xml-import/v1#"/>
    <xs:import schemaLocation="../../../../../src/main/resources/knoraXmlImport.xsd" namespace="http://api.knora.org/ontology/knoraXmlImport/v1#"/>
    <xs:element name="Archive">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="archiveHasAbbreviation"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="archiveHasLocation"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="1" name="archiveHasName"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="comment"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="mentionedIn"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Archive_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Archive"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="endnote">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="endnoteHasNumber"/>
                        <xs:element type="figure_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasFigure"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasText"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="endnote_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="endnote"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="figure">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:file"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasText"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="figure_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="figure"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="introduction">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="section_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasSection"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasText"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="introduction_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="introduction"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="letter">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="1" minOccurs="0" name="creationDate"/>
                        <xs:element type="person_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasAuthor"/>
                        <xs:element type="figure_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasFigure"/>
                        <xs:element type="person_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasRecipient"/>
                        <xs:element type="knoraXmlImport:hlistValueType" maxOccurs="unbounded" minOccurs="0" name="hasSubject"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasText"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="letterHasLanguage"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="letterHasNumber"/>
                        <xs:element type="manuscript_linkValueType" maxOccurs="unbounded" minOccurs="0" name="letterHasOriginal"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="letterHasRepertoriumNumber"/>
                        <xs:element type="letter_linkValueType" maxOccurs="unbounded" minOccurs="0" name="letterHasTranslation"/>
                        <xs:element type="publishedLetter_linkValueType" maxOccurs="unbounded" minOccurs="0" name="letterIsPublished"/>
                        <xs:element type="letter_linkValueType" maxOccurs="unbounded" minOccurs="0" name="letterIsReplyTo"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="location"/>
                        <xs:element type="person_linkValueType" maxOccurs="unbounded" minOccurs="0" name="mentionsPerson"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="1" name="title"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="letter_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="letter"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="manuscript">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="comment"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="1" minOccurs="0" name="creationDate"/>
                        <xs:element type="person_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasAuthor"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasText"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="location"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="manuscriptAdditionalFolium"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="manuscriptEndFolium"/>
                        <xs:element type="Archive_linkValueType" maxOccurs="unbounded" minOccurs="0" name="manuscriptHasArchive"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="manuscriptHasShelfMark"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="manuscriptStartFolium"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="mentionedIn"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="1" name="title"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="manuscript_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="manuscript"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="page">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:file"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="comment"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="pagenum"/>
                        <xs:element type="writtenSource_linkValueType" maxOccurs="1" minOccurs="1" name="partOf"/>
                        <xs:element type="knoraXmlImport:intValueType" maxOccurs="1" minOccurs="0" name="seqnum"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="page_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="page"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="person">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="beolIDs"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="comment"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasAlternativeName"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="1" minOccurs="0" name="hasBirthDate"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasBirthPlace"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="1" minOccurs="0" name="hasDeathDate"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasDeathPlace"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasDictionaryEntries"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasFamilyName"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="1" minOccurs="0" name="hasFloruitDate"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasFloruitPlace"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasGivenName"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasIAFIdentifier"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="1" minOccurs="0" name="hasMarriageDate"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasMarriagePlace"/>
                        <xs:element type="person_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasSon"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="mentionedIn"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="personHasTitle"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="person_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="person"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="publishedLetter">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="p0802-biblio:EditedBook_linkValueType" maxOccurs="unbounded" minOccurs="1" name="isPublishedIn"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publishedLetterEndPage"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publishedLetterHasSeqnum"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publishedLetterStartPage"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="publishedLetter_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="publishedLetter"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="section">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="section_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasSection"/>
                        <xs:element type="knoraXmlImport:hlistValueType" maxOccurs="unbounded" minOccurs="0" name="hasSubject"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasText"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="1" name="sectionHasTitle"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="section_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="section"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="writtenSource">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="1" minOccurs="0" name="creationDate"/>
                        <xs:element type="person_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasAuthor"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasText"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="location"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="1" name="title"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="writtenSource_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="writtenSource"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
