webapi/_test_data/test_route/texts/beol/testLetter/p0801-biblio.xsd

<xs:schema 
vc:minVersion="1.0" targetNamespace="http://api.knora.org/ontology/0801/biblio/xml-import/v1#" elementFormDefault="qualified" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:knoraXmlImport="http://api.knora.org/ontology/knoraXmlImport/v1#" xmlns:p0801-beol="http://api.knora.org/ontology/0801/beol/xml-import/v1#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://api.knora.org/ontology/0801/biblio/xml-import/v1#">
    <xs:import schemaLocation="p0801-beol.xsd" namespace="http://api.knora.org/ontology/0801/beol/xml-import/v1#"/>
    <xs:import schemaLocation="../../../../../src/main/resources/knoraXmlImport.xsd" namespace="http://api.knora.org/ontology/knoraXmlImport/v1#"/>
    <xs:element name="Article">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="p0801-beol__comment"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="p0801-beol__mentionedIn"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="endPage"/>
                        <xs:element type="Webpage_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasLink"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasAbbreviation"/>
                        <xs:element type="p0801-beol:person_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasAuthor"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasDOI"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasDate"/>
                        <xs:element type="p0801-beol:person_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasEditor"/>
                        <xs:element type="Organization_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasEditorOrg"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasLocation"/>
                        <xs:element type="p0801-beol:manuscript_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasManuscript"/>
                        <xs:element type="Publisher_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasPublisher"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasSubtitle"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="1" name="publicationHasTitle"/>
                        <xs:element type="p0801-beol:person_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasTranslator"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsEdited"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsEditionOf"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsReprintOf"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsReprinted"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsReviewOf"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsReviewed"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsTranslated"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsTranslationOf"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="startPage"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="volumeSubtitle"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Article_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Article"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Book">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="p0801-beol__comment"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="p0801-beol__mentionedIn"/>
                        <xs:element type="BookContent_linkValueType" maxOccurs="unbounded" minOccurs="0" name="bookHasContent"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="bookHasISBN"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="collectionNumber"/>
                        <xs:element type="Webpage_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasLink"/>
                        <xs:element type="Collection_linkValueType" maxOccurs="unbounded" minOccurs="0" name="isPartOfCollection"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="numPages"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="numVolumes"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasAbbreviation"/>
                        <xs:element type="p0801-beol:person_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasAuthor"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasDOI"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasDate"/>
                        <xs:element type="p0801-beol:person_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasEditor"/>
                        <xs:element type="Organization_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasEditorOrg"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasLocation"/>
                        <xs:element type="p0801-beol:manuscript_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasManuscript"/>
                        <xs:element type="Publisher_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasPublisher"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasSubtitle"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="1" name="publicationHasTitle"/>
                        <xs:element type="p0801-beol:person_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasTranslator"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsEdited"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsEditionOf"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsReprintOf"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsReprinted"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsReviewOf"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsReviewed"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsTranslated"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsTranslationOf"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Book_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Book"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="BookContent">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="p0801-beol:letter_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasContent"/>
                        <xs:element type="p0801-beol:introduction_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasIntroduction"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="BookContent_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="BookContent"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Collection">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="p0801-beol__comment"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="p0801-beol__mentionedIn"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="collectionNumber"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="1" name="hasName"/>
                        <xs:element type="Collection_linkValueType" maxOccurs="unbounded" minOccurs="0" name="isPartOfCollection"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="numVolumes"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Collection_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Collection"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CollectionArticle">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="p0801-beol__comment"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="p0801-beol__mentionedIn"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="collectionNumber"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="endPage"/>
                        <xs:element type="Webpage_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasLink"/>
                        <xs:element type="EditedBook_linkValueType" maxOccurs="unbounded" minOccurs="0" name="isPartOfEditedBook"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasAbbreviation"/>
                        <xs:element type="p0801-beol:person_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasAuthor"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasDOI"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasDate"/>
                        <xs:element type="p0801-beol:person_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasEditor"/>
                        <xs:element type="Organization_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasEditorOrg"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasLocation"/>
                        <xs:element type="p0801-beol:manuscript_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasManuscript"/>
                        <xs:element type="Publisher_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasPublisher"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasSubtitle"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="1" name="publicationHasTitle"/>
                        <xs:element type="p0801-beol:person_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasTranslator"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsEdited"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsEditionOf"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsReprintOf"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsReprinted"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsReviewOf"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsReviewed"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsTranslated"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsTranslationOf"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="startPage"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="volumeSubtitle"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="CollectionArticle_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="CollectionArticle"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="EditedBook">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="p0801-beol__comment"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="p0801-beol__mentionedIn"/>
                        <xs:element type="BookContent_linkValueType" maxOccurs="unbounded" minOccurs="0" name="bookHasContent"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="bookHasISBN"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="collectionNumber"/>
                        <xs:element type="Webpage_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasLink"/>
                        <xs:element type="Collection_linkValueType" maxOccurs="unbounded" minOccurs="0" name="isPartOfCollection"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="numPages"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="numVolumes"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasAbbreviation"/>
                        <xs:element type="p0801-beol:person_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasAuthor"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasDOI"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasDate"/>
                        <xs:element type="p0801-beol:person_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasEditor"/>
                        <xs:element type="Organization_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasEditorOrg"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasLocation"/>
                        <xs:element type="p0801-beol:manuscript_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasManuscript"/>
                        <xs:element type="Publisher_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasPublisher"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasSubtitle"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="1" name="publicationHasTitle"/>
                        <xs:element type="p0801-beol:person_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasTranslator"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsEdited"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsEditionOf"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsReprintOf"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsReprinted"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsReviewOf"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsReviewed"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsTranslated"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsTranslationOf"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="EditedBook_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="EditedBook"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Edition">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="p0801-beol__mentionedIn"/>
                        <xs:element type="p0801-beol:person_linkValueType" maxOccurs="unbounded" minOccurs="0" name="editionHasEditor"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="editionHasName"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="editionHasNumber"/>
                        <xs:element type="Organization_linkValueType" maxOccurs="unbounded" minOccurs="0" name="editionHasOrganization"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Edition_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Edition"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Journal">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="p0801-beol__comment"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="p0801-beol__mentionedIn"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="1" name="hasName"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="numPages"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="numVolumes"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Journal_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Journal"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="JournalArticle">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="p0801-beol__comment"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="p0801-beol__mentionedIn"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="endPage"/>
                        <xs:element type="Webpage_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasLink"/>
                        <xs:element type="Journal_linkValueType" maxOccurs="unbounded" minOccurs="0" name="isPartOfJournal"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="journalIssue"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="journalVolume"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasAbbreviation"/>
                        <xs:element type="p0801-beol:person_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasAuthor"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasDOI"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasDate"/>
                        <xs:element type="p0801-beol:person_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasEditor"/>
                        <xs:element type="Organization_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasEditorOrg"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasLocation"/>
                        <xs:element type="p0801-beol:manuscript_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasManuscript"/>
                        <xs:element type="Publisher_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasPublisher"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasSubtitle"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="1" name="publicationHasTitle"/>
                        <xs:element type="p0801-beol:person_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasTranslator"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsEdited"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsEditionOf"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsReprintOf"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsReprinted"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsReviewOf"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsReviewed"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsTranslated"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsTranslationOf"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="startPage"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="volumeSubtitle"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="JournalArticle_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="JournalArticle"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Organization">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="p0801-beol__comment"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="p0801-beol__mentionedIn"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="1" name="hasName"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Organization_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Organization"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Publication">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="p0801-beol__comment"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="p0801-beol__mentionedIn"/>
                        <xs:element type="Webpage_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasLink"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasAbbreviation"/>
                        <xs:element type="p0801-beol:person_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasAuthor"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasDOI"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasDate"/>
                        <xs:element type="p0801-beol:person_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasEditor"/>
                        <xs:element type="Organization_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasEditorOrg"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasLocation"/>
                        <xs:element type="p0801-beol:manuscript_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasManuscript"/>
                        <xs:element type="Publisher_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasPublisher"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasSubtitle"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="1" name="publicationHasTitle"/>
                        <xs:element type="p0801-beol:person_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasTranslator"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsEdited"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsEditionOf"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsReprintOf"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsReprinted"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsReviewOf"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsReviewed"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsTranslated"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsTranslationOf"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Publication_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Publication"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Publisher">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="p0801-beol__comment"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="p0801-beol__mentionedIn"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="1" name="hasName"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publisherHasLocation"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Publisher_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Publisher"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Translation">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="p0801-beol__comment"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="p0801-beol__mentionedIn"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="unbounded" minOccurs="0" name="translationHasDate"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="translationHasLanguage"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="translationHasTitle"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="1" name="translationOf"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Translation_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Translation"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Webpage">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="p0801-beol__comment"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="p0801-beol__mentionedIn"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasName"/>
                        <xs:element type="knoraXmlImport:uriValueType" maxOccurs="unbounded" minOccurs="1" name="hasURI"/>
                        <xs:element type="Website_linkValueType" maxOccurs="unbounded" minOccurs="0" name="isPartOfWebsite"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="webpageHasHrefTag"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Webpage_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Webpage"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Website">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="p0801-beol__comment"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="p0801-beol__mentionedIn"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasName"/>
                        <xs:element type="knoraXmlImport:uriValueType" maxOccurs="unbounded" minOccurs="1" name="hasURI"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Website_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Website"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WebsiteArticle">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="p0801-beol__comment"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="p0801-beol__mentionedIn"/>
                        <xs:element type="Webpage_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasLink"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasAbbreviation"/>
                        <xs:element type="p0801-beol:person_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasAuthor"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasDOI"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasDate"/>
                        <xs:element type="p0801-beol:person_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasEditor"/>
                        <xs:element type="Organization_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasEditorOrg"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasLocation"/>
                        <xs:element type="p0801-beol:manuscript_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasManuscript"/>
                        <xs:element type="Publisher_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasPublisher"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasSubtitle"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="1" name="publicationHasTitle"/>
                        <xs:element type="p0801-beol:person_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationHasTranslator"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsEdited"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsEditionOf"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsReprintOf"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsReprinted"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsReviewOf"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsReviewed"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsTranslated"/>
                        <xs:element type="Publication_linkValueType" maxOccurs="unbounded" minOccurs="0" name="publicationIsTranslationOf"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="WebsiteArticle_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="WebsiteArticle"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
